# Default ignores from Bundler
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Project specific ignores
.sass-cache
testrepo/
chromedriver.log
.rvmrc
